.reservation-container {
  margin: 5px;
  border: 1px solid #ccc; /* Ajouter une bordure */
  border-radius: 8px; /* Ajouter un rayon de bordure */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-container {
  border: 1px solid #ccc; /* Ajouter une bordure */
  border-radius: 8px; /* Ajouter un rayon de bordure */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ajouter une ombre */
  padding: 10px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 20px;

  @media (max-width: 768px) {
    margin-left: 20px;
    margin-right: 20px;
  }

  @media (max-width: 480px) {
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
  }
}

.reservation-title {
  margin-left: 390px;
  font-size: 24px;
  margin-bottom: 20px;

  @media (max-width: 768px) {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  @media (max-width: 480px) {
    font-size: 20px;
  }
}

.reservation-form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;

  @media (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 480px) {
    grid-template-columns: 1fr;
  }
}

.form-group {
  margin-bottom: 9px;
}

label {
  margin-left: 90px;
  justify-content: center;
  width: 60%;
  display: block;
  margin-bottom: 5px;

  @media (max-width: 768px) {
    margin-left: 0;
    text-align: left;
  }

  @media (max-width: 480px) {
    font-size: 14px;
  }
}

input {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;

  @media (max-width: 480px) {
    padding: 6px;
    font-size: 14px;
  }
}

.reservation-button1 {
  width: 230px;
  padding: 9px;
  margin-bottom: 10px;
  margin-left: 90px;
  font-size: 18px;
  background-color: #ff9100;
  color: #fff;
  border: none;
  border-radius: 50px;
  cursor: pointer;

  @media (max-width: 768px) {
    margin-left: 0;
    width: 100%;
  }

  @media (max-width: 480px) {
    padding: 7px;
    font-size: 16px;
  }
}

button:hover {
  background-color: #b37a00;
}
